*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #E5E7E6;
}
body{
    background-color: black;
}
.welcome{
    height: 100vh;
    width: 100vw;
    background-color: #30638E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imageAreaTop{
    width: 100vw;
    height: 50vh;
}
#self{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.heading{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #141301;
    border: 1px solid #E5E7E6;
    border-top: none;
    height: 10vh;
    width: 100vw;
    opacity: .7;
    z-index: 1000;
}
a{
    text-decoration: none;
}
a:hover{
   font-size: 18px;
    color: #b0b5b2;
}
.section{
    height: 75vh;
    width: 100vw;
    display: flex;
}
p{
    font-size: 12px;
}



#home{
    background-color: #395C6B;
    height: 58vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.homeSection{
    border: 1px solid aliceblue;
    display: flex;
    justify-content: center;
}
.homeSection:nth-child(1){
    width: 70%;
    height: 100%;
}
.homeSection:nth-child(2){
    width: 30%;
    height: 50%;
}
.homeSection:nth-child(3){
     width: 30%;
     height: 25%;
}
.homeSection:nth-child(4){
      width: 30%;
      height: 25%;
}
.gearArea{
    width: 100vw;
    height: 5vh;
    background-color: #395C6B;
}
.gear{
    width: calc(100%/9.2);
    height: auto;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.firstGear{
    animation: rotation 4s infinite linear;
}
@keyframes counterRotation {
    from{
        transform: rotate(359deg);
    }
    to{
        transform: rotate(0deg);
    }
}
.secondGear{
    animation: counterRotation 4s infinite linear;
}


#projects{
    background-color: #6B2B06;
    flex-direction: column;
    overflow: scroll;
}
.projectHeader{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.projectItem{
    width: 100%;
    height: 33%;
    display: flex;
}
.imagePlaceHolder{
    width: calc(100% * (1/3));
    height: 65%;
    background-color: aliceblue;
}
.projectDescription{
    width: calc(100% * (2/3));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}




#skills{
    background-color: #141301;
}




#contact{
    background-color: #B80C09;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fab{
    font-size: 36px;
}




button{
    color: #141301;
}

@media screen and (min-width: 740px){
    .imageAreaTop{
        width: 50vw;
        height: 30vh;
    }
    .gearArea{
        width: 100vw;
        height: 10.7vh;
        background-color: #395C6B;
    }
    .gear{
        width: calc(100%/8.4);
        height: 100%;
    }
    .projectItem{
        width: 90%;
        height: 40%;
        display: flex;
        margin: 3% auto;
    }
    .projectDescription{
        justify-content: start;
        margin-left: 5%;
    }
}
@media screen and (min-width: 1000px){
    .imageAreaTop{
        width: 40vw;
        height: 45vh;
    }
    .gearArea{
        width: 100vw;
        height: 15vh;
        background-color: #395C6B;
    }
    .gear{
        width: calc(100%/8.3);
        height: 100%;
    }
}
@media screen and (min-width: 1400px){
    .imageAreaTop{
        width: 40vw;
        height: 45vh;
    }
    .gearArea{
        width: 100vw;
        height: 14vh;
        background-color: #395C6B;
    }
    .gear{
        width: calc(100%/8.3);
        height: 100%;
    }
}