*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    background-color: black;
}
button:hover{
    cursor: pointer;
}
#frontEndMain{
    background-color: #303036;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#viewPage{
    display: none;
    width: 8rem;
    height: 3rem;
    background-color: #212121;
    color: aliceblue;
}
#introHeader{
    display: none;
    font-size: 1.35rem;
    margin: 1rem;
}
#websiteBody{
    background-color: #212121;
    height: 100vh;
    width: 100vw;
}
#me{
    display: none;
    width: 100%;
    height: fit-content;
}
#personal{
    width: 80%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5000px;
    margin: 5% 10%;
}
#otherPart{
    width: 100%;
    height: 100vh;
}
.projects{
    width: 90%;
    height: 50vh;
    margin: 5%;
    overflow: scroll;
}
.projectItem{
    width: 100%;
    height: 45%;
    text-align: center;
    background-color: cadetblue;
    margin: 5% 0;
}
#firstProject{
    background-image: url("img/mastermind.png");
    background-size: cover;
}
.projectImageDescription{
    color: aliceblue;
    /*display: none;*/
}