*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #E5E7E6;
}
body{
    background-color: black;
}
.welcome{
    height: 100vh;
    width: 100vw;
    background-color: #30638E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imageAreaTop{
    width: 100vw;
    height: 50vh;
}
#self{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.heading{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #141301;
    border: 1px solid #E5E7E6;
    border-top: none;
    height: 10vh;
    width: 100vw;
    opacity: .7;
}
a{
    text-decoration: none;
}
a:hover{
   font-size: 18px;
    color: #b0b5b2;
}
.section{
    height: 75vh;
    width: 100vw;
    display: flex;
}



#home{
    background-color: #395C6B;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.homeMain{
    width: 100%;
    height: 100%;
    background-color: #395C6B;
    border: 2px solid white;
}
.smallAreaHome{
    width: 100%;
    height: 100%;
}
.middle{
    width: 100%;
    height: 100%;
    background-color: #395C6B;
    border: 2px solid white;
}
.homeSmall{
    width: 100%;
    height: 100%;
    background-color: #395C6B;
    border: 2px solid white;
}




#projects{
    background-color: #6B2B06;
}




#skills{
    background-color: #141301;
}




#contact{
    background-color: #B80C09;
}




button{
    color: #141301;
}

@media screen and (min-width: 700px){
    .imageAreaTop{
        width: 50vw;
        height: 30vh;
    }
    .homeMain{
        width: 60%;
        height: 80%;
    }
    .smallAreaHome{
        width: 40%;
        height: 80%;
    }
    .middle{
        width: 100%;
        height: calc(100%/2);
    }
    .homeSmall{
        width: 100%;
        height: calc(100%/4);
    }
    #home{
        flex-direction: row;
    }
}
@media screen and (min-width: 1000px){
    .imageAreaTop{
        width: 40vw;
        height: 45vh;
    }
}